body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #ebecf0;
}

.submit-form {
  position: absolute;
  top: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 450px;
  background-color: #f2f9ff;
  border-radius: 8px;
}

.task {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px 8px 4px 4px;
  border: none;
  background-color: whitesmoke;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
}

.container {
  position: relative;
}

/* button {
  border: 0px;
  color: #99ee99;
  padding: 8px;
  border-radius: 8px;
} */

.add-button {
  background-color: #2b472b;
  border: 0;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  color: #99ee99;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.task::placeholder {
  color: lightgrey;
  font-size: 18px;
  font-weight: medium;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}

.list li {
  padding: 20px;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  border-top: solid;
  border-color: beige;
  position: relative;
  margin-left: 20px;
}

.list li .fa-trash {
  color: red;
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li .fa-square-check {
  color: green;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li.todolist {
  color: darkgrey;
  text-decoration: line-through;
}

.list li.todolist .fa-square-check {
  color: darkgrey;
}
